<!DOCTYPE html>
<html>
  <head>
    <title>
      Klothes with Klossy!!
    </title>
  </head>
  <body>
    <h1> 
    Here's Your Outfit Results
    </h1>
    <h3> <%=@the_user%> <%=@the_occausion%> </h3>
    <h4> <%=@the_user%> <%=@the_weather%> </h4> 
    <h5></h5> <%=@the_user%> <%=@the_type%> </h5>
  </body> We hope you have fun with your occausion in style!
</html>